<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Flight Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/custom.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body th:style="'background:url('+ @{/img/background.jpg}+') fixed;'">


<header th:replace="template::admin-header"></header>

	     <div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Create flight</h1>
				<form th:action="@{/saveFlightTemplate}" th:object="${flightTemplate}" method="post">
					<div class="form-group">
						<label for="firstLocation">From</label>:
							<select class="form-control" th:field="*{firstLocation}">
	    	          <option th:each="destination : ${destinations}" th:value="${destination}" th:text="${destination}">Reason</option>
	    	       </select><br>
	    	       <label th:if="${#fields.hasErrors('firstLocation')}"  th:errors="*{firstLocation}"  class="form-control alert alert-danger">Error in departing 
	    	       location</label></td>
					</div>
					<div class="form-group">
						<label for="lastLocation">To</label>:
							<select class="form-control" th:field="*{lastLocation}">
	    	          <option th:each="destination : ${destinations}" th:value="${destination}" th:text="${destination}">Reason</option>
	    	       </select><br>
	    	       <label th:if="${#fields.hasErrors('lastLocation')}"  th:errors="*{firstLocation}" class="form-control alert alert-danger">Error in departing 
	    	       location</label></td>
					</div>
					<div class="form-group">
					Departure date: <input type="date" class="form-control" th:field="*{departingDate}" /><br>
				<label th:if="${#fields.hasErrors('departingDate')}"  th:errors="*{departingDate}" class="form-control alert alert-danger">Error in starting date</label>
					</div>
					<div class="form-group">
					Arrival date: <input type="date" class="form-control" th:field="*{arrivingDate}" /><br>
					<label th:if="${#fields.hasErrors('arrivingDate')}"  th:errors="*{arrivingDate}"  class="form-control alert alert-danger">Error in starting date</label>
					</div>
					<div class="form-group">
					Maximum capacity: <input type="number" class="form-control" th:field="*{maximumCapacity}" /><br>
				    <label th:if="${#fields.hasErrors('maximumCapacity')}"  th:errors="*{maximumCapacity}" class="form-control alert alert-danger">Error in starting date</label>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Create flight" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>


	</div>
	<footer th:replace="template::main-footer"></footer>
</body>
</html>