<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		 <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/navbars/">
         <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <link rel="stylesheet" th:href="@{/css/custom.css}"/>
          <link rel="stylesheet" th:href="@{/css/main.css}"/>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Administrator Dashboard</title>
</head>
<body th:style="'background:url('+ @{/img/lufthansa.jpg}+') fixed;'">

<header th:replace="template::admin-header"></header>
<div th:if="${flightsOfTemplate.size() == 0}">
	<h1>Unfortunately, no user has booked this flight yet :(</h1>
</div>

<div th:if="${flightsOfTemplate.size() > 0}">
	<h1 align="center">List of passengers</h1>
<form:form>
<table class="table table-striped table-dark" id="t01" border="2" width="70%" cellpadding="2">
<tr><th>User</th><th>Booked at</th>
</tr>  
<!-- Displaying a list of passengers for the selected flight template -->
    <tr th:each="flight : ${flightsOfTemplate}"> 
    <td th:text="${flight.username}"></td>
    <td th:text="${flight.createdAt}"></td>
   </tr>  
   </table>  
   <br/>
   </form:form></div>
	<footer th:replace="template::main-footer"></footer>
</body>
</html>