<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Sign up form </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
         <link rel="stylesheet" th:href="@{/css/custom.css}"/>
          <link rel="stylesheet" th:href="@{/css/main.css}"/>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body th:style="'background:url('+ @{/img/background.jpg}+') fixed;'">

<header th:replace="template::user-header"></header> 

 	<h1 id="success">Success registering the following flight: </h1>
 	<table class="table table-striped table-dark" id="t01" border="2" width="70%" cellpadding="2" th:object="${flight}">
<tr><th>Id</th><th>From</th>
<th>To</th><th>Departure date</th><th>Arrival date</th>
<th>User</th><th>Trip id</th>
    <tr> 
   <td th:text="${flight.id}"></td>
   <td th:text="${flight.departingLocation}"></td>
   <td th:text="${flight.finalLocation}"></td>
   <td th:text="${flight.startingDate}"></td>
   <td th:text="${flight.endingDate}"></td>
   <td th:text="${flight.username}"></td>
   <td th:text="${tripId}"></td>
   
   </tr>  
   </table>  
   <footer th:replace="template::main-footer"></footer>
</body>
</html>