<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Trip registration success</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
         <link rel="stylesheet" th:href="@{/css/custom.css}"/>
          <link rel="stylesheet" th:href="@{/css/main.css}"/>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Trip success</title>
</head>
<body th:style="'background:url('+ @{/img/lufthansa.jpg}+')  fixed; background-repeat: no-repeat; background-size: cover; width: 100%; '">
<header th:replace="template::user-header"></header> <br>
    <div class="container">
        <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Success!</h4>
              <p>Success registering the following trip.</p>
              <hr>
              <p class="mb-0">You can customize your trip, add or remove flights.</p>
        </div>
    </div>
 	<table class="table table-striped table-dark" id="t01" border="2" width="70%" cellpadding="2" th:object="${trip}">
<tr><th>Reason</th><th>Description</th>
<th>From</th><th>To</th><th>Departure</th><th>Arrival</th><th>User</th><th>Edit</th>
</tr>  
    <tr>
    <!-- Displaying the properties of the just created trip --> 
   <td th:text="${trip.reason}"></td>
   <td th:text="${trip.description}"></td>
   <td th:text="${trip.fromLocation}"></td>
   <td th:text="${trip.toLocation}"></td>
   <td th:text="${trip.departureDate}"></td>
   <td th:text="${trip.arrivalDate}"></td>
   <td th:text="${trip.username}"></td>
    <td><a th:href="@{'/sendApproval/' + ${trip.id}}" class="btn btn-outline-info">Send approval request</a></td>
   </tr>  
   </table>
   <footer th:replace="template::main-footer"></footer>
</body>
</html>